:root{
    
}

header{
    display: flex;
    justify-content: space-between;
}

#highscores{

}

#timer{

}

#mainbody,
#quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainbody h1{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

#mainbody div{
    text-align: center;
    width: 60vw;
}

#start{
    font-size: 20px;
    font-weight: bold;
}